<div id="titular">Date de alta por 1,42€/ sms recibido, consigue creditos para enviar sms<br /> a tu amigos. Solo por darte de alta 500 sms gratis.</div>

<div id="caja_ayudas">

    <div id="caja_texto_ayuda">
        <span class="titulo_seccion">::. Aviso Legal</span>
        <p class="descripcion_seccion">Las presentes condiciones generales se rigen por la legislación española.</p>
        <p class="descripcion_seccion">Son competentes para resolver toda controversia o conflicto que se derive de las presentes condiciones generales los Juzgados de Barcelona renunciando expresamente el USUARIO a cualquier otro fuero que pudiera corresponderle.</p>
        <p class="descripcion_seccion">QUEROX SL no vende, alquila ni pone a disposición de terceras personas los datos personales proporcionados por los usuarios del portal si no se describe explícitamente lo contrario.</p>
        <p class="descripcion_seccion">El USUARIO garantiza que los datos personales facilitados son veraces y se hace responsable de comunicar cualquier modificación en los mismos. El USUARIO será el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a QUEROX SL o a cualquier tercero, a causa de la cumplimentación de los formularios con datos falsos, inexactos, incompletos o no actualizados. En el caso de que el USUARIO incluya datos de carácter personal de terceros deberá, con carácter previo a su inclusión, informarles de lo establecido en la presente política de privacidad, siendo el único responsable de su inclusión.</p>
        <p><span class="descripcion_seccion">QUEROX SL ha adoptado las medidas necesarias para evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos personales, habida cuenta en todo momento del estado de la tecnología, no obstante, el USUARIO debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</span><br /></p>
        <br />
    </div>

</div>
   
<div id="botonera_horizontal">Quiénes Somos | Cómo Funciona | Aviso Legal | Condiciones de Uso | Ayuda | Contactar</div>
