<div id="titular">Date de alta por 1,42€/ sms recibido, consigue creditos <br /> para enviar sms a tu amigos.</div>

<div id="caja_ayudas">
    <div id="caja_texto_ayuda">
        <span class="titulo_seccion">::. Ayuda</span><br />
        <p class="descripcion_seccion">Para información sobre los pasos a seguir para hacer uso del servicio que ofrecemos accede a la sección cómo funciona o bien, si tienes dudas puedes enviarnos un correo electrónico a info@500smsgratis.com y atenderemos tu consulta a la brevedad. No lo dudes, ponte en contacto con nosotros.<br /></p>
     </div>
</div>
