<div id="titular">Date de alta por 1,42€/ sms recibido, consigue creditos para enviar sms<br /> a tu amigos. Solo por darte de alta 500 sms gratis.</div>
<div id="caja_ayudas">
    <div id="caja_texto_ayuda">
        <span class="titulo_seccion">::. Como Funciona</span><br />
        <p class="descripcion_seccion">Bienvenido, si deseas enviar un sms has llegado al sitio correcto. Gracias por confiar en nosotros.<br />Los pasos a seguir para hacer uso del servicio que ofreces son los siguientes:<br />
        - En el primer casillero debes colocar el número móvil de la persona que deseas que reciba tu mensaje escribiéndolo de acuerdo al siguiente ejemplo: 666555444</p>
        <p class="descripcion_seccion">- En el segundo casillero debes colocar tú número móvil del mismo modo que escribiste el número móvil del destinatario, siguiendo el ejemplo: 66633322</p>
        <p class="descripcion_seccion">- En el tercer casillero tienes 308 caracteres para expresar lo que desees, siempre y cuando respetéis las condiciones de uso, digamos, lo que sería el cuerpo del mensaje.</p>
        <p><span class="descripcion_seccion">- Una vez teniendo los tres casilleros correspondientes llenos, haz click en el botón verde “envíar”. Despues te llegara un pin a tu telefono movil, debes de validarlo en el formulario, recuerda que cada alerta que te enviemos tendra un coste de 1,42€, pero el sms del pin es gatuito. Una vez realizado esto, tu sms se ha enviado correctamente.<br />
        Si sigues teniendo inconvenientes, no dudes en comunicarte con nosotros a info@500smsgratis.com y atenderemos tu consulta a la brevedad.</span><br /></p>
    </div>
</div>
