<div id="titular">Date de alta por 1,42€/ sms recibido,consigue creditos para enviar sms<br /> a tu amigos. Solo por darte de alta 500 sms gratis.</div>

<div id="caja_ayudas">
    <div id="caja_texto_ayuda">
        <span class="titulo_seccion">::. Problemas para enviar SMS? Estos son los pasos que debes seguir:</span><br />
        <p class="descripcion_seccion">1. En el primer casillero debes colocar el número móvil de la persona que deseas que reciba tu mensaje escribiéndolo del siguiente modo: Característica del país (por ejemplo, si el móvil receptor es español comienzas escribiendo +34) y a continuación, sin espacios, escribes el número telefónico. Un ejemplo sería: +34666555444<br /><br />2. En el segundo casillero debes colocar tú número móvil del mismo modo que escribiste el número móvil del destinatario. Por ejemplo: +3466633322</p>
        <p class="descripcion_seccion">3. El tercer casillero está destinado para redactar el mensaje que deseas enviar. Tienes 308 caracteres para expresar lo que desees, siempre y cuando respetéis las condiciones de uso.</p>
        <p class="descripcion_seccion">4. Una vez completados los tres casilleros correspondientes, haz click en el botón verde “envíar” y ¡listo! Tu sms se ha enviado correctamente.</p>
        <p class="descripcion_seccion">Si sigues teniendo inconvenientes, no dudes en comunicarte con nosotros a info@500smsgratis.com y atenderemos tu consulta a la brevedad.<br /><br />Gracias por ser parte de 500smsgratis.com</p>
        <p class="descripcion_seccion"><br /></p>
    </div>
</div>
   
<div id="botonera_horizontal">Quiénes Somos | Cómo Funciona | Aviso Legal | Condiciones de Uso | Ayuda | Contactar</div>
