<div id="titular">Date de alta por 1,42€/ sms recibido, consigue creditos <br /> para enviar sms a tu amigos.</div>

<div id="caja_ayudas">
    <div id="caja_texto_ayuda">
        <span class="titulo_seccion">::. Quienes Somos</span><br />
        <p class="descripcion_seccion">Querox S.L — Somos una empresa joven, formada por profesionales de las telecomunicaciones y la publicidad online, con más de 10 años de experiencia en el sector.  Para mayor información entra a www.querox.es<br /><br />CIF B 65481145<br /><br />C/Cau de la Guineu 4, esc B, 1o2a<br /><br />08870 Sitges (Barcelona)<br />
        </p>
    </div>
</div>
