<div id="titular">Date de alta por 1,42€/ sms recibido, consigue creditos para enviar sms<br /> a tu amigos. Solo por darte de alta 500 sms gratis.</div>

<div id="caja_ayudas">
    <div id="caja_texto_ayuda">
        <span class="titulo_seccion">::. Tratamiento de Datos</span><br />
        <p class="descripcion_seccion">
            Querox S.L. les informa que para ser usuario de nuestros servicios disponibles a través de SITIO-NUEVODOMINIO.com, es necesario que faciliten determinados datos personales, los cuales serán tratados de acuerdo con lo establecido en la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de datos de carácter personal.
            <br />
            Querox, S.L dispone de las medidas técnicas y organizativas necesarias para garantizar la seguridad de su base de datos donde es almacenada toda aquella información relacionada a los usuarios (datos personales), para evitar su pérdida, alteración, accesos no autorizados o cualquier otro tipo de riesgo al que puedan estar expuestos, ya provengan de la acción humana o del medio físico o natural.
            <br />
            Los usuarios pueden ejercitar sus derechos de acceso, rectificación, cancelación y oposición de sus datos personales mediante el envío de un e-mail a info@SITIO-NUEVODOMINIO.com solicitando lo expresado con anterioridad. Ya sea para obtener mejoras en el servicio, la baja del mismo, etc.
            <br />
            Querox, S.L. no divulgará la información personal de sus clientes ni de sus respectivas cuentas, salvo excepciones tales como ser necesario transmitir dicha información para prestar el servicio contratado, proteger los intereses legítimos de la empresa o de sus clientes, o sean requeridos por algún proceso o autoridad legal.
            <br />
            <br />
            Ante cualquier inquietud no dude en consultar las páginas internas de nuestro sitio web, tales como “Condiciones de uso” o “políticas de privacidad”. Si aún se encuentra dudoso, escríbanos a y la brevedad nos pondremos en contacto con usted.
            <br />
        </p>
     </div>
</div>
