<div class="estilo3" id="volverarriba">
  <table width="320" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><p>Las presentes Condiciones de Uso son aplicables al uso que usted haga del sitio web pornoxmovil.com. Dicho sitio web es propiedad de la empresa Querox, S.L. La presente Web ha sido creada y es mantenida por Querox, S.L. que posee la titularidad de todos los dominios que a ella conducen de forma directa.<br />
          <br />
          Para registrarse en Pornoxmovil.com se deben cumplir con los siguientes requisitos:<br />
          1.	Ser conocedor de las Condiciones de Uso y estar en total y plena conformidad con las mismas.<br />
          2.	Ser mayor de 18 años, de lo contrario contar con el consentimiento de un adulto.<br />
          3.	El usuario es el único responsable de la confidencialidad, seguridad y debida autorización de todos los contenidos incluidos en nuestro sitio web.<br />
          4.	Debe utilizar el sitio web de forma lícita.<br />
          5.	Debe ser conocedor en detalle de todas las políticas de privacidad (tratamiento de datos)<br />
          6.	Entender y aceptar los principios de utilización de este nuestro sitio web.</p>
        <p>Los videos disponibles en Pornoxmovil.com se encuentran alojados en el servidor de xvideos.com. <br />
          Está prohibida la venta, la permutación, el alquiler u el obsequio de las licencias de los videos exhibidos en nuestro sitio web. </p>
        <p>En Pornoxmovil.com usted encontrará una exquisita selección realizada por el staff de Querox, S.L., de los mejores videos disponibles en xvideos.com.<br />
        </p>
        <p>QUEROX S.L.</p>
        <p>Apdo. correos 222<br />
          08870, Barcelona<br />
          Teléfono de Atención al Cliente: 902 05 28 46<br />
      </p></td>
    </tr>
  </table>
</div>